.detail-image-wrapper {
  margin-top: 5%;
  margin-left: 30%;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.detail-main-image {
  width: 100%;
}
.detail-sub-image {
  width: 48%;
  height: 50%;
  margin-left: 1%;
}
.detail-shop-wrapper {
  margin-left: 30%;
  width: 40%;
  margin-bottom: 10%;
}
.detail-title-wrapper {
  margin-top: 5%;
}
.detail-shop-name {
  display: inline;
  padding-right: 3%;
  font-weight: bold;
}
.detail-shop-rating {
  display: inline;
  color: #898c8f;
  font-weight: bold;
}
.detail-tag-wrapper {
  margin-top: 1%;
}
.detail-tag {
  border: 1px solid #262626;
  border-radius: 15px;
  margin-top: 2%;
  margin-right: 2%;
  font-size: 0.7rem;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.7%;
  padding-right: 1.7%;
}
.detail-content-wrapper {
  margin-top: 5%;
}
.detail-info-wrapper,
.detail-address-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.detail-info-name,
.detail-address-name {
  color: #898c8f;
  font-size: 0.9rem;
  font-weight: bold;
}
.detail-info-value {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.detail-menu-name {
  font-size: 0.9rem;
}
.detail-menu-value {
  font-size: 0.9rem;
}
.detail-address-wrapper {
  margin-top: 5%;
}
.detail-map-image {
  height: 150px;
  width: 350px;
}
