.bookmark-container {
  width: 60vw;
  height: 90vh;
  margin-left: 65%;
  padding-right: 20vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bookmark-wrapper {
  width: 163%;
  margin-left: -30%;
  margin-top: -5%;
  display: flex;
  justify-content: center;
}

.bookmark-title {
  margin: 8% 5% 5% 5%;
  border-bottom: 1px solid black;
  font-size: 15px;
  padding: 0 0 2% 5%;
  font-weight: bolder;
}

.bookmark-wrapper .MuiTab-root {
  z-index: 0;
}

.bookmark-wrapper .Mui-selected {
  color: #ff6b6c !important;
  font-weight: bold;
  z-index: -1;
}
