.bookmark-container {
  width: 60vw;
  height: 90vh;
  margin-left: 60%;
  padding-right: 10vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bookmark-wrapper {
  width: 163%;
  margin-left: -30%;
  margin-top: -5%;
  display: flex;
  justify-content: center;
}

.bookmark-title {
  margin: 8% 5% 5% 5%;
  border-bottom: 1px solid black;
  font-size: 15px;
  padding: 0 0 2% 5%;
  font-weight: bolder;
}

.bookmark-wrapper .Mui-selected {
  color: #ff6b6c !important;
  font-weight: bold;
  z-index: -1;
}

.boookmarkCard-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.TabPanel-bookmark {
  width: 55.5%;
  margin-left: 21.5%;
  padding: 0 !important;
}

.TabPanel-bookmark .css-19kzrtu {
  padding: 24px 0 !important;
}

@media (max-width: 767px) {
  .bookmark-container {
    display: none;
  }
  .bookmark-container-mobile {
    display: block !important;
    margin-top: 2rem;
  }
  .css-q8iqya {
    border-bottom: 1px solid #c4c4c4 !important;
    width: 100% !important;
    margin: 0 !important;
  }
}
