.bookmark-wrapper {
  width: 163%;
  margin-left: -30%;
  margin-top: -5%;
  display: flex;
  justify-content: center;
}

.bookmark-wrapper .MuiTab-root {
  z-index: 0;
}

.bookmark-wrapper .Mui-selected {
  color: #ff6b6c !important;
  font-weight: bold;
  z-index: -1;
}
