@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css');

@media (max-width: 767px) {
  .name-button {
    padding: 0.1rem;
    background-color: #ffeeee;
    color: #ff6b6c;
    border-radius: 7px;
    margin-right: 1%;
    font-weight: bold;
    font-size: 0.7rem;
  }

  .edit-title div {
    display: none;
  }

  .agree-discribe {
    font-size: 0.5rem;
  }

  .edit-info {
    width: 70%;
    margin-left: 13%;
  }

  /* 취소 & 수정 완료 버튼 */
  .edit-info-submit {
    position: absolute;
    bottom: 0;
    margin-left: -20vw;
    width: 110vw;
    display: flex;
  }

  .agree-discribe {
    font-family: 'Pretendard' !important;
    font-weight: 700;
  }

  .cancel {
    width: 50%;
    color: #ff6b6c;
    background-color: white;
    border: 1px solid #ff6b6c;
    text-align: center;
    font-size: 1rem;
    font-family: 'Pretendard' !important;
    padding: 1rem 0;
  }

  .finished {
    width: 50%;
    color: white;
    background-color: #ff6b6c;
    text-align: center;
    font-size: 1rem;
    font-family: 'Pretendard' !important;
    padding: 1rem 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .edit-container {
    width: 60vw;
    height: 90vh;
    margin-left: 19rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .name-button {
    padding: 3px;
    background-color: #ffeeee;
    color: #ff6b6c;
    border-radius: 7px;
    margin-right: 1%;
    font-weight: bold;
    padding: 0.1rem;
    font-size: 0.8rem;
  }

  .edit-title {
    margin: 8% 5%;
    border-bottom: 1px solid black;
    font-size: 15px;
  }

  .edit-title div {
    padding: 0 0 2% 5%;
    font-weight: bolder;
  }

  .edit-info {
    width: 60%;
    margin-left: 13%;
  }

  /* 취소 & 수정 완료 버튼 */
  .edit-info-submit {
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .agree-discribe {
    font-family: 'Pretendard' !important;
    font-weight: 700;
  }

  .cancel {
    width: 44%;
    padding: 4% 0;
    color: #ff6b6c;
    background-color: white;
    border: 1px solid #ff6b6c;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: 'Pretendard' !important;
  }

  .finished {
    width: 44%;
    padding: 4% 0;
    color: white;
    background-color: #ff6b6c;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: 'Pretendard' !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .edit-container {
    width: 60vw;
    height: 90vh;
    margin-left: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .name-button {
    padding: 0.2rem;
    background-color: #ffeeee;
    color: #ff6b6c;
    border-radius: 7px;
    margin-right: 1%;
    font-weight: bold;
    font-size: 1rem;
  }

  .edit-title {
    margin: 8% 5%;
    border-bottom: 1px solid black;
    font-size: 15px;
  }

  .edit-title div {
    padding: 0 0 2% 5%;
    font-weight: bolder;
  }

  .edit-info {
    width: 60%;
    margin-left: 13%;
  }

  /* 취소 & 수정 완료 버튼 */
  .edit-info-submit {
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .agree-discribe {
    font-family: 'Pretendard' !important;
    font-weight: 700;
  }

  .cancel {
    width: 44%;
    padding: 4% 0;
    color: #ff6b6c;
    background-color: white;
    border: 1px solid #ff6b6c;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: 'Pretendard' !important;
  }

  .finished {
    width: 44%;
    padding: 4% 0;
    color: white;
    background-color: #ff6b6c;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: 'Pretendard' !important;
  }
}
@media (min-width: 1200px) {
  .edit-container {
    width: 60vw;
    height: 90vh;
    padding-top: 3rem;
    margin-left: 35rem;
    padding-right: 15rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .name-button {
    padding: 0.2rem;
    background-color: #ffeeee;
    color: #ff6b6c;
    border-radius: 7px;
    margin-right: 1%;
    font-weight: bold;
    font-size: 0.8rem;
  }

  .edit-title {
    margin: 8% 5%;
    border-bottom: 1px solid black;
    font-size: 15px;
  }

  .edit-title div {
    padding: 0 0 2% 5%;
    font-weight: bolder;
  }

  .edit-info {
    width: 60%;
    margin-left: 13%;
  }

  /* 취소 & 수정 완료 버튼 */
  .edit-info-submit {
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .agree-discribe {
    font-family: 'Pretendard' !important;
    font-weight: 700;
  }

  .cancel {
    width: 44%;
    padding: 4% 0;
    color: #ff6b6c;
    background-color: white;
    border: 1px solid #ff6b6c;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: 'Pretendard' !important;
  }

  .finished {
    width: 44%;
    padding: 4% 0;
    color: white;
    background-color: #ff6b6c;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: 'Pretendard' !important;
  }
}

.edit-title div {
  font-family: 'Pretendard' !important;
  font-weight: 800;
}

.edit-info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

.icon-user {
  z-index: -1;
  position: relative;
}

.icon-user img {
  width: 5rem;
}

.icon-camera {
  z-index: 1;
  margin-top: -26px;
  margin-left: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-info-title {
  margin-top: 3%;
  margin-left: 14px;
  font-size: 12px;
  margin-bottom: 1%;
  color: rgba(0, 0, 0, 0.4);

  font-family: 'Pretendard' !important;
}

.edit-info-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 11px;
  font-size: 13px;
}

.name-input {
  width: 67%;
  margin-left: 5px;
  padding: 3%;
  background-color: transparent;
  font-weight: bold;
  border: 0;
  font-family: 'Pretendard' !important;
}

.edit-input::placeholder {
  font-size: 90%;
  font-weight: lighter;
}

.edit-info-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #e9e9ea;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 11px 0 11px 16px;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Pretendard' !important;
}
.edit-info-marketing {
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Pretendard' !important;
}
.edit-info-notice {
  margin-top: 10px;
  font-size: 10px;
  font-family: 'Pretendard' !important;
}

.empty {
  width: 10%;
}

/* 라디오 버튼 설정하는 방법 알려드리자!!! + label*/
.select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 9px 0;
  background-color: #f5f5f5;
  font-size: 13px;
}
.select input[type='radio'] {
  display: none;
}
.select input[type='radio'] + label {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  padding: 0 1%;
  font-size: 10px;
  border-radius: 50%;
  border: 1px solid #ff6b6c;
  background-color: white;
  color: white;
}
.select input[type='radio']:checked + label {
  background-color: #ff6b6c;
  color: #fff;
}
