.edit-title {
  margin: 8% 5%;
  border-bottom: 2px solid black;
  font-size: 15px;
}

.edit-title div {
  padding: 0 0 2% 5%;
  font-weight: bolder;
}

.edit-info {
  width: 50%;
  margin-left: 25%;
}

.edit-info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

.icon-user {
  z-index: -1;
  position: relative;
}

.icon-camera {
  z-index: 1;
  margin-top: -30px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 7% 0;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #ff6b6c;
  font-size: 10px;
}

.edit-info-title {
  margin-top: 3%;
  margin-left: 14px;
  font-size: 12px;
  margin-bottom: 1%;
  color: rgba(0, 0, 0, 0.4);
}

.edit-info-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-size: 13px;
}

.edit-info-name input {
  width: 90%;
  border: 0;
  border-radius: 10px;
  margin-left: 11px;
  padding: 2%;
  background-color: transparent;
}

.edit-info-name:focus {
  outline: none;
}

.myedit-info-name input::placeholder {
  font-size: 80%;
  font-weight: bold;
}

.name-button {
  padding: 0 5px;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin-right: 3%;
  font-size: 9px;
  font-weight: bold;
}

.edit-info-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #e9e9ea;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 11px 0 11px 16px;
  font-size: 13px;
  font-weight: bold;
}
.edit-info-marketing {
  margin-top: 25px;
  font-size: 13px;
  font-weight: bold;
}
.edit-info-notice {
  margin-top: 10px;
  font-size: 10px;
}

.edit-info-agree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 9px 0;
  background-color: #f5f5f5;
  font-size: 13px;
}

.agree-button {
  font-size: 10px;
  padding: 0 3px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  background-color: white;
  color: white;
}

.empty {
  width: 13px;
}

.disagree-button {
  font-size: 10px;
  padding: 0 3px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  background-color: white;
  color: white;
}

.edit-info-submit {
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel {
  width: 44%;
  padding: 4% 0;
  color: #ff6b6c;
  background-color: white;
  border: 1px solid #ff6b6c;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.finished {
  width: 44%;
  padding: 4% 0;
  color: white;
  background-color: #ff6b6c;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
