.footprint-title {
  margin: 8% 5% 5% 5%;
  border-bottom: 2px solid black;
  font-size: 15px;
  padding: 0 0 2% 5%;
  font-weight: bolder;
}

.footprint-wrapper {
  margin-left: 6%;
  width: 85%;
  font-size: 13px;
}

.footprint-bold-hr {
  /* background-color: blue;
  height: 90px; */
  border: solid 1px #000000;
}
.footprint-light-hr {
  border: 1px solid #d8d8d8;
  margin-left: 2%;
  width: 96%;
}
.footprint-content {
  margin-left: 5%;
  width: 90%;
}
.footprint-remove-wrapper {
  float: right;
}
.footprint-remove-button {
  color: white;
  background-color: black;
  border-radius: 1000px;
  font-size: 0.8rem;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.footprint-name {
  display: inline;
  font-size: 1.3rem;
  font-weight: bold;
}
.footprint-user-name {
  display: inline;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 1%;
}
.footprint-rating {
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;
  color: #898c8f;
  margin-right: 1%;
}
.footprint-date {
  display: inline;
  font-size: 0.7rem;
  font-weight: lighter;
  color: #898c8f;
}
.footprint-tip-wrapper {
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.15);
  height: 4vh;
  margin-left: 1%;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-block;
  position: relative;
  width: 98%;
  height: 35px;
  line-height: 30px;
}
.footprint-tip-name {
  background-color: #c4c4c4;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 2%;
  margin-left: 1%;
}
.footprint-tip-content {
  font-size: 14px;
  font-weight: normal;
  padding-top: 10px;
}
.footprint-post {
  font-size: 0.9rem;
}
.footprint-image-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footprint-image {
  width: 98%;
  height: 135px;
  margin-right: 2%;
}
