.footprint-modal {
  color: #ff6b6c;
  background-color: #ffeded;
  border-radius: 1000px;
  font-size: 0.7rem;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Pretendard' !important;
}

.footprint-modal-delete {
  margin-bottom: 20px;
  font-family: 'Pretendard' !important;
}

.footprint-modal-close {
  margin-bottom: 20px;
  font-family: 'Pretendard' !important;
}

.footprint-modal-delete button {
  padding-right: 15px;
}

.footprint-modal-close button {
  padding-right: 20px;
}

.footprint-delete-modal {
  text-align: center;
}

.footprint-delete-modal button {
  margin-left: 90%;
  padding: 0 3%;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.delete-message {
  font-size: 16px;
  padding-top: 10%;
}

.delete-message-confirm {
  font-size: 16px;
  margin-top: 12%;
  padding-top: 4%;
  border-top: 1px solid #ff6b6c;
  color: #ff6b6c;
}

.footprint-confirm-modal {
  text-align: center;
}

.footprint-confirm-modal button {
  margin-left: 90%;
  padding: 0 3%;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.confirm-message {
  font-size: 16px;
  padding-bottom: 5%;
}
