@media (max-width: 767px) {
  .search-bar-wrapper {
    background-color: transparent;
  }
  .search-bar-wrapper input::placeholder {
    color: transparent;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .search-bar-wrapper {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

@media (min-width: 1200px) {
  .search-bar-wrapper {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.search-bar-wrapper {
  font-family: 'Pretendard' !important;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 3rem;
  padding: 0.6rem;

  color: rgba(0, 0, 0, 0.4);
}

.search-bar-wrapper img {
  width: 1.5rem;
}

.search-bar-wrapper .search {
  color: rgba(0, 0, 0, 0.8);
}

.search-bar-wrapper input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: transparent;
  padding-left: 10px;
  border: none;
  font-family: 'Pretendard' !important;
}

input:focus {
  outline: none;
}
