menu,
ol,
ul,
li {
  list-style: none;
}
button {
  border: 0;
  outline: 0;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  margin-left: 10px;
  font-size: 20px;
}

.modal-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 80px);
}

.modal-wrapper-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper .search-list {
  width: 90%;
  padding-left: 10px;
}

.search-list li {
  padding: 10px 0;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
}

.search-list li:hover {
  color: #ff6c6c;
  background-color: #ffeded;
}

.modal-wrapper .tag-list {
  font-size: 15px;
  padding: 0 5px;
  margin-top: 60px;
}

.modal-wrapper .tag-list div {
  grid-column: 1 / 5;
  margin-bottom: 10px;
}

.modal-wrapper .tag-list li {
  width: fit-content;
  padding: 5px 10px;
  margin: 10px;
  float: left;
  border: 1px solid #bfbfbf;
  color: #bfbfbf;
  border-radius: 50px;
  font-weight: bolder;
}

.modal-wrapper .tag-list li:hover {
  color: #ff6c6c;
  border: 1px solid #ff6c6c;
  font-weight: bolder;
}
