@media (max-width: 767px) {
  .header-wrapper {
    /* font-family: 'Pretendard' !important;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; */
    display: none;
    height: 10vh;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #e9e9ea;
    font-weight: 200;
  }

  .header-logon-icon img {
    width: 2.3rem;
  }

  header .logo-img {
    width: 7rem;
  }

  .header-logon-name {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-wrapper {
    /* font-family: 'Pretendard' !important;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; */
    height: 10vh;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #e9e9ea;
    font-weight: 200;
  }

  .header-logon-icon img {
    width: 2.3rem;
  }

  header .logo-img {
    width: 9rem;
  }
}

@media (min-width: 1200px) {
  .header-wrapper {
    /* font-family: 'Pretendard' !important;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; */
    height: 10vh;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #e9e9ea;
    font-weight: 200;
  }
  .header-logon-icon img {
    width: 3rem;
    padding-right: 6px;
  }

  header .logo-img {
    width: 10rem;
  }
}

.header-wrapper {
  font-family: 'Pretendard' !important;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #e9e9ea;
  font-weight: 200;
}

.header-wrapper header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 60%;
  height: 100%;
}

/* .header-logon-icon img {
  width: 30%;
  padding-right: 6px;
} */

.header-logon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  font-weight: 700;
}

.header-logon-modal {
  width: 60%;
  font-weight: 700;
}

.header-logon-icon {
  text-align: end;
  margin-left: 1vw;
}

.header-logon span {
  margin-left: 1%;
}

.header-logoff {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 80%;
  font-weight: 700;
}

.header-logoff div {
  width: 5em;
  font-size: 1.1em;
  margin-left: 7%;
  margin-right: 3%;
}