.header-wrapper {
  font-family: 'Pretendard' !important;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #e9e9ea;
  font-weight: 200;
}

.header-wrapper header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0% 20%;
}

.header-logon {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 80%;
  height: 50%;
  font-weight: 700;
}

.header-logon-modal {
  width: 60%;
  font-weight: 700;
}

.header-logon-icon {
  text-align: end;
  margin-left: 5%;
}

.header-logon-icon img {
  width: 50%;
  padding-right: 6px;
}

.header-logon span {
  margin-left: 1%;
}

.header-logoff {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 80%;
  font-weight: 700;
}

.header-logoff div {
  width: 5em;
  font-size: 1.1em;
  margin-left: 7%;
  margin-right: 3%;
}