.header-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0% 20%;
}

.header-logo {
  width: 20%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-logon {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 80%;
  height: 50%;
  font-weight: 700;
}

.header-logon-modal {
  width: 60%;
  font-weight: 700;
}

.header-logon-icon {
  margin-left: 5%;
}

.header-logon span {
  margin-left: 1%;
}

.header-logoff {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 80%;
  font-weight: 700;
}

.header-logoff span {
  margin-left: 7%;
  margin-right: 2%;
}
