@media (max-width: 767px) {
  .header-wrapper {
    min-height: 7vh;
  }

  .header-wrapper header {
    min-width: 90vw;
  }

  .header-logon-icon img {
    margin-right: -1rem;
    width: 2rem;
  }

  header .logo-img {
    width: 5rem;
    margin-left: 1rem;
  }

  .header-logon-name {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-wrapper {
    height: 10vh;
  }

  .header-wrapper header {
    min-width: 70vw;
  }

  .header-logon-icon img {
    width: 2.3rem;
  }

  header .logo-img {
    width: 9rem;
  }
}

@media (min-width: 1200px) {
  .header-wrapper {
    height: 10vh;
  }

  .header-wrapper header {
    min-width: 70vw;
  }

  .header-logon-icon img {
    width: 3rem;
    padding-right: 6px;
  }

  header .logo-img {
    width: 10rem;
  }
}

.header-wrapper {
  font-family: 'Pretendard' !important;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #e9e9ea;
  font-weight: 200;
}

.header-wrapper header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-logon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  font-weight: 700;
}

.header-logon-modal {
  width: 60%;
  font-weight: 700;
}

.header-logon-icon {
  text-align: end;
  margin-left: 1vw;
}

.header-logon-name {
  font-family: 'Pretendard' !important;
  font-weight: 700;
}

.header-logon span {
  margin-left: 1%;
}

.header-logoff {
  font-family: 'Pretendard' !important;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 80%;
  font-weight: 700;
}

.header-logoff div {
  font-family: 'Pretendard' !important;
  width: 5em;
  font-size: 1.1em;
  margin-left: 7%;
  margin-right: 3%;
}
