.my-wrapper {
  padding-top: 8%;
}

.myedit-wrapper {
  display: flex;
}

.myedit-nav {
  width: 40%;
  padding-left: 20%;
  background-color: #f5f5f5;
}

.myedit-content-wrapper {
  padding-right: 20%;
  width: 60%;
}

.myedit-content-title {
  margin: 6% 5%;
  border-bottom: 2px solid black;
}

.myedit-content-title div {
  padding: 0 0 2% 5%;
  font-weight: bolder;
}

.myedit-content-info {
  width: 55%;
  margin-left: 13%;
}

.myedit-content-info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

.icon-profile-icon {
  position: relative;
}

.icon-profile-icon-camera {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 35%;
  border-radius: 50%;
  border: 2px solid white;
  right: -1px;
  bottom: -1px;
  background-color: #ff6b6c;
}

.myedit-content-info-title {
  margin-top: 5%;
  font-size: 85%;
  color: rgba(0, 0, 0, 0.4);
}

.myedit-content-info-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.myedit-content-info-name input {
  width: 90%;
  border: 0;
  border-radius: 10px;
  padding: 1%;
}

.myedit-content-info-name:focus {
  outline: none;
}

.myedit-content-info-name input::placeholder {
  font-size: 80%;
}

.name-button {
  font-size: 95%;
  padding: 0 2%;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin-right: 1%;
}

.myedit-content-info-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.myedit-content-info-email input {
  width: 80%;
  border: 0;
  border-radius: 10px;
  padding: 2% 1%;
}

.myedit-content-info-email:focus {
  outline: none;
}

.email-button {
  font-size: 50%;
  padding: 1% 2%;
  font-weight: bold;
  font-size: 50%;
  color: #ff6b6c;
  background-color: #ffeded;
  border-radius: 10px;
  margin-right: 1%;
}

.myedit-content-info-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.myedit-content-info-phone input {
  width: 70%;
  border: 0;
  border-radius: 10px;
  padding: 2% 1%;
}

.myedit-content-info-phone:focus {
  outline: none;
}

.phone-button {
  padding: 1% 2%;
  font-weight: bold;
  font-size: 50%;
  color: #ff6b6c;
  background-color: #ffeded;
  border-radius: 10px;
  margin-right: 1%;
}

.myedit-content-info-button {
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel {
  width: 45%;
  padding: 1.5% 0;
  color: #ff6b6c;
  background-color: white;
  border: 1px solid #ff6b6c;
  border-radius: 50px;
  text-align: center;
}

.finished {
  width: 45%;
  padding: 1.5% 0;
  color: white;
  background-color: #ff6b6c;
  border-radius: 50px;
  text-align: center;
}
