.my-wrapper {
  position: fixed;
  padding-top: 6%;
  height: 100vh;
}

.mypage-wrapper {
  display: flex;
}

.mypage-tab {
  position: absolute;
  width: 65%;
  height: 87.5vh;
  padding-left: 35%;
  background-color: #ffeeee;
}

.mypage-content {
  width: 40%;
  margin-left: 40%;
}

.sideMenu-wrapper {
  background-color: transparent;
  height: 100vh;
}

.sideMenu-intro {
  padding: 40px 0;
  font-size: 21px;
}

.side-row {
  border: 1px solid black;
}

.side-col {
  border: 1px solid black;
}

.name {
  font-weight: bold;
  text-decoration: underline;
}

.sidebtn-wrapper {
  /*환경설정, 발자국, 찜*/
  position: relative;
  background-color: white;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 10px;
  width: 98%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebtn-icon {
  display: inline;
  border: 1px solid #e4e4e4;
  border-radius: 100px;
  padding: 7px 5px;
  margin-right: 10px;
}

.btn-name {
  font-size: 13px;
  font-weight: bold;
}

.sub-txt {
  color: #797d81;
  font-size: 10px;
}

.sideMenu-bottom {
  position: absolute;
  bottom: 7%;
  font-size: 13px;
}

.tab-click-active {
  color: #ff6b6c;
}

.tab-click-stay {
  color: gray;
}
