.review-title-wrapper {
  margin-left: 20%;
  width: 60%;
}
.review-name {
  display: inline;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Pretendard' !important;
  margin-right: 1%;
}
.review-num {
  display: inline;
  color: #7a7a7a;
  font-size: 1rem;
  font-family: 'Pretendard' !important;
}
.review-share-wrapper,
.review-like-wrapper {
  float: right;
  margin-left: 30px;
}
.review-like-wrapper {
  margin-top: 3px;
}
.review-share-wrapper {
  margin-top: 2px;
}
.review-write-wrapper {
  float: right;
  margin-left: 30px;
  border-radius: 5px;
  background-color: #ff6b6c;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.review-write-icon {
  margin-right: 10px;
  color: white;
}
.review-icon {
  margin-right: 10px;
  color: #000000;
}
.review-like-icon {
  color: #ff6b6c;
  margin-right: 10px;
  margin-top: 3px;
}
.review-write-button {
  color: white;
  /* background-color: black;
  border-radius: 5px; */
  font-size: 0.8rem;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Pretendard' !important;
}
.review-like-num,
.review-share-name {
  color: #262626;
  font-size: 0.8rem;
  font-family: 'Pretendard' !important;
}
.review-content-wrapper {
  margin-left: 20%;
  width: 60%;
  display: block;
}
.review-top-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 55%;
  width: 25%;
  text-align: end;
  padding-left: 8%;
  margin-bottom: 2%;
}
.review-toggle {
  margin-right: 25%;
  margin-bottom: 5%;
}
.review-toggle-label {
  font-size: 13px;
  color: #898c8f;
  text-align: start;
  margin-left: -10px;
  margin-right: 5px;
  margin-top: 3%;
  font-family: 'Pretendard' !important;
}
.review-order {
  margin-bottom: 3%;
}
.review-select {
  border-color: #d9d9d9;
  width: 110px;
  height: 25px;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Pretendard' !important;
}

.review-order .review-select option {
  color: red;
  font-size: 5rem;
  font-family: 'Pretendard' !important;
}
.review-content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-top: 1%;
  margin-left: 20%;
  width: 60%;
  margin-bottom: 3%;
}
.review-list-icon {
  float: right;
  margin-right: 1%;
  background-color: transparent;
  border: none;
}
.review-list-icon:hover {
  background-color: transparent;
  border: none;
}
.review-list-icon:active {
  background-color: transparent;
  border: none;
}
.review-user-name {
  color: #262626;
  font-weight: bold;
  font-size: 1rem;
  display: inline;
  margin-right: 1%;
  /* font-family: ; */
  font-family: 'Pretendard' !important;
}
.review-user-time {
  color: #5f686f;
  font-size: 0.5rem;
}
.review-star-wrapper {
  display: inline;
}
.review-star-point {
  font-size: 0.9rem;
  color: #fedb04;
}
.review-star {
  font-size: 0.9rem;
  color: #e9e9ea;
}
.review-tip-wrapper {
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.15);
  height: 4vh;
  margin-left: 1%;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-block;
  position: relative;
  width: 98%;
  height: 35px;
  line-height: 30px;
}
.review-tip-name {
  background-color: #c4c4c4;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 3%;
  margin-left: 2%;
  color: #ff6b6c;
  background-color: #ffeded;
  border: 1px solid #ff6b6c;
  font-family: 'Pretendard' !important;
}
.review-tip-content {
  font-size: 14px;
  font-weight: normal;
  padding-top: 10px;
  font-family: 'Pretendard' !important;
}
.review-post {
  font-size: 0.9rem;
  font-family: 'Pretendard' !important;
}
.review-like-button {
  /* font-size: 0.5rem; */
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  width: 8%;
  border: 1px solid #d8d8d8;
  border-radius: 17.5px;
  text-align: center;
}
.review-like-num {
  font-size: 14px;
  color: #5f686f;
  margin-left: -5px;
  font-family: 'Pretendard' !important;

  /* margin-right: -15px; */
}
.review-image-wrapper {
  margin-top: 2%;
}
.review-image {
  width: 200px;
  height: 150px;
  margin-right: 1%;
}
