.review-title-wrapper {
  margin-left: 20%;
  width: 60%;
}
.review-name {
  display: inline;
  font-size: 1.3rem;
  font-weight: bold;
}
.review-num {
  display: inline;
  color: #7a7a7a;
  font-size: 1rem;
}
.review-share-wrapper,
.review-like-wrapper,
.review-write-wrapper {
  float: right;
  margin-left: 30px;
}
.review-icon {
  margin-right: 10px;
  color: #262626;
}
.review-write-button {
  color: white;
  background-color: black;
  border-radius: 5px;
  font-size: 0.8rem;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.review-like-num,
.review-share-name {
  color: #262626;
  font-size: 0.8rem;
}
.review-content-wrapper {
  margin-left: 20%;
  width: 60%;
  display: block;
}
.review-order {
  margin-left: 20%;
  width: 60%;
  text-align: end;
  margin-bottom: 3%;
}
.review-select {
  border-color: #d9d9d9;
  width: 110px;
  height: 25px;
  font-size: 14px;
  font-weight: normal;
}
.review-order .review-select option {
  color: red;
  font-size: 5rem;
}
.review-content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-top: 1%;
  margin-left: 20%;
  width: 60%;
  margin-bottom: 3%;
}
.review-list-icon {
  float: right;
  margin-right: 1%;
  background-color: transparent;
  border: none;
}
.review-list-icon:hover {
  background-color: transparent;
  border: none;
}
.review-list-icon:active {
  background-color: transparent;
  border: none;
}
.review-user-name {
  color: #262626;
  font-weight: bold;
  font-size: 0.8rem;
}
.review-user-time {
  color: #5f686f;
  font-size: 0.5rem;
}
.review-tip-wrapper {
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.15);
  height: 4vh;
  margin-left: 1%;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-block;
  position: relative;
  width: 98%;
  height: 35px;
  line-height: 30px;
}
.review-tip-name {
  background-color: #c4c4c4;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 3%;
  margin-left: 2%;
}
.review-tip-content {
  font-size: 14px;
  font-weight: normal;
  padding-top: 10px;
}
.review-post {
  font-size: 0.9rem;
}
.review-like-button {
  color: #5f686f;
  font-size: 0.5rem;
  font-weight: bold;
  margin-top: 1%;
}
.review-image-wrapper {
  margin-top: 2%;
}
.review-image {
  width: 200px;
  height: 150px;
  margin-right: 1%;
}
