menu,
ol,
ul,
li {
  list-style: none;
  font-family: 'Pretendard' !important;
}

.tags-wrapper {
  font-family: 'Pretendard' !important;
  font-size: 0.9rem;
  margin-top: 1.5rem;
}

.tags-wrapper div {
  margin: 1rem 0;
  font-family: 'Pretendard' !important;
}

.tags-wrapper li {
  width: fit-content;
  padding: 0.4rem 0.8rem;
  margin-right: 1rem;
  float: left;
  border: 1px solid #c4c4c4;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 10rem;
}

.tags-wrapper li:hover {
  color: #ff6c6c;
  font-weight: bold;
  border: 1px solid #ff6c6c;
}
