.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100vh;
  margin: 0 auto;
}

.search-wrapper-content {
  width: 22vw;
  display: grid;
  margin-top: -30px;
  grid-template-rows: repeat(3, 80px);
}

.search-wrapper-content .title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2em;
}

.search-wrapper-content span {
  font-weight: bolder;
}

.search-wrapper-content .input-bar {
  margin-top: 10px;
  width: 95%;
  height: 35px;
  border-radius: 50px;
  border: 1px solid black;
}

.search-wrapper-content .input-bar input {
  padding-left: 10px;
  width: 90%;
  height: 35px;
  border-radius: 50px;
  background-color: transparent;
  border: none;
}

.search-wrapper-content .input-bar input:focus {
  outline: none;
}
