.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.search-content {
  width: 27%;
  height: 50%;
}

.search-content .title {
  font-weight: 500;
  font-size: 150%;
  line-height: 1.2em;
  margin-bottom: 10%;
}

.search-content span {
  font-weight: bolder;
}

.search-content .input-bar {
  width: 95%;
  height: 12%;
  margin-bottom: 10%;
  border-radius: 50px;
  border: 1px solid black;
}

.search-content .input-bar input {
  padding-left: 4%;
  width: 90%;
  height: 100%;
  border-radius: 50px;
  background-color: transparent;
  border: none;
}

.search-content .input-bar input:focus {
  outline: none;
}
