.search-background {
  position: fixed;
  background-image: url('../../public/image/search-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.search-wrapper {
  font-family: 'Pretendard' !important;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: -4% auto;
  padding-top: 15%;
}

.search-content {
  width: 27%;
}

.search-content .title {
  margin-left: -15px;
  width: 100%;
  font-weight: bold;
  font-size: 150%;
  line-height: 1.2em;
  margin-bottom: 8%;
  border: none;
}

.search-content span {
  font-weight: bolder;
  color: #ff6c6c;
}

.search-content .input-bar {
  width: 95%;
  padding: 1em 0;
  margin-bottom: 0.7rem;
  border-radius: 50px;
  border: 1px solid #c4c4c4;
}

.search-content .input-bar input {
  padding-left: 4%;
  width: 90%;
  height: 100%;
  border-radius: 50px;
  background-color: transparent;
  border: none;
}

.search-content .input-bar input:focus {
  outline: none;
}
