menu,
ol,
ul,
li {
  list-style: none;
}

.tags-wrapper {
  font-size: 90%;
  padding: 0 2%;
}

.tags-wrapper div {
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.tags-wrapper li {
  width: fit-content;
  padding: 1.5% 3%;
  margin: 1.5%;
  float: left;
  border: 1px solid black;
  border-radius: 50px;
}

.tags-wrapper li:hover {
  color: #ff6c6c;
  font-weight: bold;
  border: 1px solid #ff6c6c;
}
