.title {
  margin: 8% 5% 5% 5%;
  border-bottom: 2px solid black;
  font-size: 15px;
  padding: 0 0 2% 5%;
  font-weight: bolder;
}

.withdrawal-Wrapper {
  margin-left: 10%;
  width: 85%;
  font-size: 13px;
}

.withdrawal-notice {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3%;
}

.withdrawal-agree {
  margin-top: 15%;
  padding: 9px 14px;
  background-color: #f5f5f5;
  font-size: 13px;
}

.withdrawal-submit {
  margin: 0 auto;
  margin-top: 18%;
  width: 55%;
  padding: 3% 0;
  color: white;
  background-color: #c4c4c4;
  border-radius: 50px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
