<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div class="jumbotron">
        <h1>태그 등록</h1>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-10" th:action="@{/admin/tags/new}"  th:object="${tagRequest}" method="post"
              novalidate  enctype="multipart/form-data">
            <input placeholder="등록할 태그 이름" th:name="name">
            <button type="submit">등록</button>
        </form>
    </div>

    <div class="jumbotron">
        <h1>태그 목록</h1>
    </div>
    <div th:each="tag : ${tags}">
        <div class="container">
            <div class="row">
                <div class="col-sm ."  th:text="${tag.id}"></div>
                <div class="col-sm" th:text="${tag.name}"></div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
